astroid==4.0.4
attrs==26.1.0
beautifulsoup4==4.14.3
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
colorama==0.4.6
dill==0.4.1
flake8==7.3.0
h11==0.16.0
idna==3.11
isort==7.0.0
keyboard==0.13.5
librt==0.7.8
mccabe==0.7.0
mypy==1.19.1
mypy_extensions==1.1.0
numpy==2.4.3
outcome==1.3.0.post0
packaging==26.0
pandas==3.0.1
pathspec==1.0.4
platformdirs==4.5.1
psycopg2-binary==2.9.11
pycodestyle==2.14.0
pycparser==3.0
pyflakes==3.4.0
pylint==4.0.5
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
requests==2.32.5
selenium==4.41.0
selenium-stealth==1.0.6
setuptools==82.0.1
six==1.17.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.8.3
tomlkit==0.14.0
trio==0.33.0
trio-websocket==0.12.2
types-keyboard==0.13.2.20250801
types-requests==2.32.4.20260107
typing_extensions==4.15.0
tzdata==2025.3
undetected-chromedriver==3.5.5
urllib3==2.6.3
webdriver-manager==4.0.2
websocket-client==1.9.0
websockets==16.0
wsproto==1.3.2
